@import './shared.scss';

.DoorContainer {
  display: flex;
  flex-direction: column;
  border-width: 2px; 
  border-style: solid;
  border-color: #BBBBBB;
  width: 30%;
  height: 450px;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.DoorContainer > img {
  object-fit: scale-down;
  width: 70%;
  height: 70%;
}