@import './shared.scss';

.DoorsPageContainer{
  // height: 70vh;
  min-height: 700px;
  display: flex;
  flex-direction: row;
}

.FilterContainer {
  display: flex;
  flex-direction: column;
  padding: 35px 40px 0px 40px;
  width: 20%;
}

.ClearAllButton {
  cursor: pointer;
}

.DoorsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 50px 50px;
}

.ColorFilterContainer {
  display: flex;
  flex-direction: row;
}

.ColorFilter {
  margin-right: 20px;
}

.ColorFilterImage {
  cursor: pointer;
}