@import './shared.scss';

.about-container {
	padding: 0px 5vw 0px 5vw;
	text-align: left;
	margin-top: 100px;
}

.profile-pic-container {
	text-align: center;
	margin-bottom: 60px;
}

.profile-pic {
	height: 300px;
	width: 300px;
	border-style: solid;
	border-radius: 500px;
	border-color: #AAAAAA;
}

.blurb {
	font-style: italic;
}

@media (min-width: $mobile-size) and (orientation:landscape) {
	.about-container {
		padding: 0px 150px 0px 150px;
		text-align: justify;
		margin-top: 100px;
	}
}