@import './shared.scss';

.door-container {
  display: flex;
  flex-direction: column;
  border-width: 2px; 
  border-style: solid;
  border-color: #BBBBBB;
  width: 70%;
  height: 450px;
  // justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px 100px 20px;
  margin-bottom: 50px;
}

.door-container > img {
  object-fit: contain;
  width: 100%;
  height: 75%;
  margin: 0;
  padding: 0;
}

.door-container > h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.door-container > h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.details-button {
  border-width: 2px;
  border-color: $secondary-orange;
  background-color: white;
  cursor: pointer;
  height: 100%;
  width: 180px;
  // width: 100%;
  padding: 0 30px;
  // width: 200px;
  // height: 50px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Abril Fatface";
}