@import './shared.scss';

.content-container {
  height: 70vh;
  min-height: 700px;
  display: flex;
  flex-direction: row;
  padding: 100px 0px 150px 80px;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  color: black;
}

.banner-text-container {
  justify-content: start;
  height: 100%;
}

.featured-details {
  width: 50%;
}

.featured-details > h1 {
  font-size: 60px;
  margin: 0;
}

.featured-details > h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.featured-details > h3 {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
}

.rating-container {
  font-size: 10px;
  margin: 10px 0;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.featured-details > button {
  border-width: 2px;
  border-color: $secondary-orange;
  background-color: white;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Abril Fatface";
}

.featured-container {
  width: 50%;
  height: 100%;
}

.featured-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured-image {
  height: 100%;
  width: 100%;
  padding: 20px 0;
  object-fit: scale-down;
}

.color-option-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-option {
  margin: 0 10px;
  cursor: pointer;
}

.selected {
  border: 2px solid $secondary-orange;
  border-radius: 5px;
  width: 30px;
  // position: fixed;
}
