@import './shared.scss';

.MissionContainer {
  height: 70vh;
  min-height: 700px;
  padding: 100px 0px 150px 80px;
}

.MissionTagLine {
  margin: 0 0 30px 0;
}

.MissionTagLine > h1 {
  margin: 0;
}

.MissionDetails {
  margin: 80px 0 0 0;
}

.MissionDetails > h4 {
  margin: 0;
}
