@import './shared.scss';

.nav-bar-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: $primary-orange;
	width: 100%;
}

.nav-link {
	padding: 5px 20px;
	cursor: pointer;
	text-decoration: none;
}

.nav-link > h2 {
	font-size: 20px;
	font-weight: 400;
	color: white;
}