@import './shared.scss';

.container {
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
}

.nav-left {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tool-link {
  text-decoration: none;
}

.home-button {
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  color: black;
}

.nav-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.nav-right > ion-icon {
  color: black;
  font-size: 30px;
  margin: 0px 20px;
}

.nav-right > ion-icon:hover {
  color: $secondary-orange;
  cursor: pointer;
}

.cart-has-items {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: $primary-orange;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}


@media (min-width: $mobile-size) and (orientation:landscape) {
  .container {
    height: $navbar-height;
    display: flex;
    flex-direction: row;
  }
  .nav-left {
    width: 50vw;
    padding-left: 20px;
    justify-content: left;
  }
  .nav-right {
    width: 50vw;
    flex-direction: row;
  }
  .nav-item {
    margin-left: 70px;
  }
  .home-button {
    font-weight: 400;
    font-size: 25px;
  }
}
